Source: audioreach-pipewire-plugin
Section: misc
Priority: optional
Maintainer: Saurav Kumar <sauravk@qti.qualcomm.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 pkg-config,
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 wireplumber,
 pipewire,
 audioreach-pal,
 audioreach-pal-headers,
 audioreach-graphmgr,
 libexpat1-dev,
 libtinyalsa-dev,
 audio-route
Standards-Version: 4.6.2
Homepage: https://github.com/AudioReach/audioreach-pipewire-plugin

Package: audioreach-pipewire-plugin
Architecture: arm64
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 libpipewire-0.3-dev,
 libspa-0.2-dev,
 wireplumber,
 pipewire,
 audioreach-pal,
 audioreach-graphmgr,
 libexpat1-dev,
Description: PipeWire PAL Plugin Package.
